body {margin-top: 0px;
 background: #adaca6;
  text-align: center;
}
.main{
    background: linear-gradient(#ffff00 0%, #fafad2 100%);
  background-repeat: no-repeat;

}

.menu{
    background: purple;
   width: 100%;
    list-style: none;
    position:fixed;
    margin-top: 0px;
    z-index: 10;
    height:30px;
}

    
.links{
    padding-left: 30px;
   display: inline;
}

.links:hover{
    background-color: darkgrey;
}
h1 {
padding-top: 50px;
    color: purple;
 font-family: 'Permanent Marker', cursive; 
  
}
h2 {
  font-size: 10px;
  font-family: checkbox;
}

#circuit {
  width: 150px;
  height: 150px;
  border-radius: 150px;
}

.writing {

    text-align: center;
    position: relative;
  color: purple;
  font-style: cursive;
  font-family: Brush Script MT;
  font-size: 20px;
  vertical-align: middle;
  max-width: 450px;
  padding-top: 5px;
  margin: auto;
    z-index: 9;
}
.line {
  height: 3px;
  width: 70px;
  background: purple;
    margin:auto;
 
}
.sb{
    font-size: 15px;
    line-height: 70px;
}
.iframe{
    align-content: center;
}
html{
    scroll-behavior: smooth;
}
img{
   height: 200px;
    width: 200px;
    padding-left: 20px;
    padding-top: 10px;
    transition: transform .2s;
}
img:hover{
    transform: scale(0.9);
}
a{
    text-decoration: underline;
    color:antiquewhite;
    text-shadow: 1px 1px gainsboro;
}
#contact iframe{
    width: 100% !important;
}

.contact1 a{
    text-shadow: none;
    line-height: 50px;
    
}